// fonts
$font-Manrope: "Manrope", sans-serif;
$font-Onest: "Onest", sans-serif;
$font-Inter: "Inter", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-white-f7: #f7f7f7;
$color-black: #000000;
$color-black-2: #303431;
$color-green: #11bb91;
$color-yellow: #f9c645;
$color-red: #F3454E;
// colors
