// platform
.platform {
  .section_title {
    margin-bottom: 48rem;
    @include media('md') {
      margin-bottom: 32rem;
    }
  }

  .swiperPlatform {
    @include media('md') {
      overflow: visible;
    }
  }

  &_in {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40rem 60rem;

      @include media('md') {
        display: flex;
        gap: 0;
      }
    }
  }

  &_block {
    border-radius: 32rem;
    border: 3rem solid $color-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: 34rem;

    @include media('md') {
      padding: 16rem 20rem;
      border-radius: 16rem;
      gap: 4rem;
      height: auto;
    }

    img {
      width: 63rem;
      height: 63rem;

      @include media('md') {
        width: 47rem;
        height: 47rem;
      }
    }

    span, p {
      font-weight: 700;
      font-size: 16rem;
      line-height: 146%;
      text-align: center;
      color: $color-black-2;
    }

    span {
      color: $color-green;
    }
  }

  .green_btn {
    margin: 50rem auto 0 auto;
    width: 350rem;
    display: block;

    @include media('md') {
      width: 100%;
      margin: 30rem auto 0 auto;
    }
  }
}
// platform
