// portfolio
.portfolio {
  padding: 80rem 0;
  border-top: 3rem solid $color-green;
  border-bottom: 3rem solid $color-green;

  @include media('md') {
    padding: 40rem 0;
  }

  .section_title {
    margin-bottom: 32rem;

    @include media('md') {
      margin-bottom: 24rem;
    }
  }

  &_in {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40rem;

    @include media('md') {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20rem;
    }

    @include media('sm') {
      grid-template-columns: repeat(1,1fr);
      gap: 12rem;
    }
  }

  &_block {
    border-radius: 24rem;
    border: 4rem solid $color-green;
  }
}
// portfolio
